.header{
    background-color:aqua;
    height: 40px;
    padding: 5px 20px;
    display: flex;
    gap: 20px;
}

.search-box{
    flex: 50%;
    text-align: center;
}

.search-box input{
    width: 60%;
    height: 30px;
    border-radius: 5px;
    border: none;
    padding: 5px 10px;  
}

.cart-div{
    flex: 30%;
    float: right;
    position: relative;
}

.cart-icon{
    width: 25px;
    height: 25px;
}

.cart-div span{
    position: absolute;
    background-color: orange;
    border-radius: 50%;
    height: 18px;
    width: 18px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    top: -6px;
}